# PMOD0_IO5
IO_LOC  "swdio_io" E18;
IO_PORT "swdio_io" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=4 BANK_VCCIO=3.3;
# PMOD0_IO7
IO_LOC  "swclk_i" B22;
IO_PORT "swclk_i" IO_TYPE=LVCMOS33 PULL_MODE=DOWN BANK_VCCIO=3.3;
